{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Each form elements and corresponding errors and renderee sepearately -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container">
        <h1>Sign Up</h1>
        <form method ="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.source.errors }}
            {{ form.source }}
          <div class="container">
            <label for="exampleInputEmail1">          Username  : </label>{{form.username}}{{form.username.errors}}
          </div>
          <div class="container">
            <label >         Email :  </label>{{form.email}}{{form.email.errors}}
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="container">
            <label style="width:800px; margin:0 auto;" >         Password :      </label>{{form.password1}}{{form.password1.errors}}
              <small id="PasswordHelp" class="form-text text-muted">Be a minimum of eight (8) characters in length.</small>
          </div>
           <div class="container" >
             <label style="width:800px; margin:0 auto;">         Confirm Password :   </label>{{form.password2}}{{form.password2.errors}}
                    </div>
                    <br>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
  </body>
</html>
{% endblock %}
