{% extends 'tasks/base.html' %}

{% load staticfiles %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style media="screen">
      html *
    {
    font-family: 'Montserrat', sans-serif;color=#E25D33 !important;
    }
    </style>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
  </head>
  <body>
    <div class="container">
        <h1>Create Team</h1>
        <form method ="POST">
            {% csrf_token %}
{{form.as_p}}
                    <br>
          <button type="submit" class="btn btn-dark"><h4>Submit</h4></button>
        </form>
        <!-- <form method="POST">
            {% csrf_token %}
            {{ form.password1 }}
            <input type="submit" value="Sign Up" class="btn btn-dark">
        </form> -->
    </div>
  </body>
</html>
{% endblock %}
