


{% extends 'tasks/base.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block content %}

            <h2 class='taskstitle loader'>Team: {{ teams.name }}</h2>
						<h3> Member Count: {{teams.team_members.count}}</h3>


			<div class="container" class="border border-primary">
					<div class="row">

							<div class="col-sm-6" style="background-color:	#99ccff;font-family: 'Montserrat', sans-serif; " >

									<h3>Team members : </h3>
									{% for member in teams.team_members.all %}

									<h4>{{ forloop.counter | linebreaksbr}}.{{member}}</h4>

									{% endfor %}
							</div>

							<div class="col-sm-6" style="background-color: #99b3ff;font-family: 'Montserrat', sans-serif;">
							<h3>Tasks of this team : </h3>
									{% for t in teams.assigned_to_team.all %}


									<h4>{{ forloop.counter | linebreaksbr}}.{{t.title}}</h4>

									{% endfor %}
							</div>
							<br>
							{% for t in team_str %}
							{% if teams.name == t  %}
							<br>
		           <h3>Delete team :        </h3><br>   <a class="btn btn-primary" href="{% url 'teams:teams_remove' pk=teams.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
		          {% endif %}
							{% endfor %}

					</div>

    </div>

  {% endblock %}
  </body>
</html>
