{% extends 'tasks/base.html' %}

{% load staticfiles %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<style media="screen">
  html *
{
font-family: 'Montserrat', sans-serif;color=#E25D33 !important;
}
</style>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  </head>
  <body>
    <div class="container">
        <h1>Create Task</h1>
        <form method ="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.source.errors }}
            {{ form.source }}
          <div class="container">
            <label >         <h4> Title  : </h4></label>{{form.title}}{{form.title.errors}}
            <small class="form-text text-muted">Enter your title here</small>
          </div>
          <div class="container">
            <label >        <h4> Description :  </h4></label>{{form.description}}{{form.description.errors}}
            <small class="form-text text-muted">Enter the task description</small>
          </div>
          <div class="container">
            <label >         <h4>Add assignee:   </h4>   </label>{{form.assignee}}{{form.assignee.errors}}
              <small class="form-text text-muted">Please select user(s)</small>
          </div>
                    <br>
          <button type="submit" class="btn btn-dark"><h4>Submit</h4></button>
        </form>
    </div>
  </body>
</html>
{% endblock %}
