{% extends 'tasks/base.html' %}

{% load staticfiles %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<style media="screen">
  html *
{
font-family: 'Montserrat', sans-serif;color=#E25D33 !important;
}
</style>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  </head>
  <body>
    <div class="container">
        <h1>Create Task</h1>
        <form method ="POST">
            {% csrf_token %}
            {{form.as_p}}
                    <br>
          <button type="submit" class="btn btn-dark"><h4>Submit</h4></button>
        </form>
    </div>
  </body>
</html>
{% endblock %}
