{% extends 'tasks/base.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block content %}

            <h1 class='taskstitle loader'>Task: {{ tasks.title }}</h1>

            {% if tasks.created_date %}
                <div class="date tasksdate">
                    {{ tasks.created_date }}{{tasks.assigned_to_team}}
                </div>
          {% endif %}

          <p class='taskscontent' > DESCRIPTION: {{ tasks.description|safe|linebreaksbr }}</p>

          {% if user.username == tasks.task_creator_str  %}
              <a class="btn btn-dark" href="{% url 'tasks:tasks_edit' pk=tasks.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-primary" href="{% url 'tasks:tasks_remove' pk=tasks.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
          {% endif %}



      <hr>
      <a class="btn btn-primary btn-comment" href="{% url 'tasks:add_comment_to_tasks' pk=tasks.pk %}">Add comment</a>
      <div class="container">


      {% for comment in tasks.comments.all %}
      <br>
          {% if user.is_authenticated  %}

                  {{ comment.created_date }}

              <p>{{ comment.text|safe|linebreaks }}</p>
              <p>Commented by: <strong>{{ comment.author }}</strong></p>

          {% endif %}
      {% empty %}
          <p>No comments posted.</p>
      {% endfor %}
    </div>

  {% endblock %}
  </body>
</html>
